@use "../common/variables";
@use "../common/mixins";

.page__body {
  @include mixins.set-font(14px, 20px, 400);

  // padding: 0;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: variables.$bg-color-primary;
  color: variables.$font-color-primary;
  min-width: 320px;
  max-width: 1920px;
  height: 100%;
}

.page__main {
  background-color: variables.$bg-color-primary;
  background-repeat: no-repeat;
  @media (min-width: variables.$tablet-width) {
    background-size: 425px 1630px;
    background-position: 100% 941px;
    background-image:
      image-set(
        "../img/decorations/clouds-1-tablet@1x.webp" type("image/webp"),
        "../img/decorations/clouds-1-tablet@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          "../img/decorations/clouds-1-tablet@2x.webp" type("image/webp"),
          "../img/decorations/clouds-1-tablet@2x.png" type("image/png")
        );
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-size: 602px 1630px;
    background-position: 100% 673px;
    background-image:
      image-set(
        "../img/decorations/clouds-1-desktop@1x.webp" type("image/webp"),
        "../img/decorations/clouds-1-desktop@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          "../img/decorations/clouds-1-desktop@2x.webp" type("image/webp"),
          "../img/decorations/clouds-1-desktop@2x.png" type("image/png")
        );
    }
  }

  @media (max-width: variables.$mobile-width-only) {
    background-size: 141px 595px;
    background-position: 100% 578px;
    background-image:
      image-set(
        "../img/decorations/clouds-mobile@1x.webp" type("image/webp"),
        "../img/decorations/clouds-mobile@1x.jpg" type("image/jpeg")
      );

    @media (resolution >= 2dppx) {
      background-image:
        image-set(
          "../img/decorations/clouds-mobile@2x.webp" type("image/webp"),
          "../img/decorations/clouds-mobile@2x.png" type("image/png")
        );
    }
  }
}

// .page__container {
//   min-width: 320px;
//   width: 100%;
//   max-width: 1920px;
//   margin: 0 auto;

//   @media (max-width: variables.$mobile-width-only) {
//     padding: 15px;
//   }

//   @media (min-width: variables.$tablet-width) {
//     padding: 19px 45px 16px;
//   }

//   @media (min-width: variables.$desktop-width) {
//     padding: 30px 120px;
//   }
// }

.page__header {
  position: relative;
  margin: 0;
  color: variables.$font-color-primary;
  @media (min-width: variables.$tablet-width) {
    @include mixins.set-font(25px, 25px, 800);
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.set-font(35px, 35px, 800);
  }

  @media (max-width: variables.$mobile-width-only) {
    @include mixins.set-font(22px, 22px, 800);
  }
}

.page__header::before {
  content: attr(data-title);
  width: max-content;
  position: absolute;
  left: 0;
  opacity: 0.03;
  @media (min-width: variables.$tablet-width) {
    @include mixins.set-font(40px, 40px, 800);

    bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.set-font(55px, 55px, 800);

    bottom: 0;
  }

  @media (max-width: variables.$mobile-width-only) {
    @include mixins.set-font(26px, 26px, 800);

    bottom: 12px;
  }
}
